%header
  %h1 Thank you for submitting the form the Results are below!

  %section#results

    = params[:first_name]
    = params[:last_name]
    = params[:email]
    = params[:website_url]
    = params[:pet_select]
    = params[:date_of_birth]
    = params[:sex]
    = params[:transportation]
    = params[:password_field]
    = params[:free_text_area]